/* Auch in JS ändern! */
:root {
  --bg-body: #fff;
  --bg-body-inverted: #000;
  --bg-elevated: #f2f2f2;
  --bg-highlight: #e6e6e6;
  --bg-navbar: rgba(248, 248, 255, 0.75);
  --bg-navbar-solid: rgb(248, 248, 255);
  --bg-transparent: rgba(250, 250, 250, 0.5);
  --text: hsl(0 0 0);
  --text-muted: #0d0d0d;
  --link-color: #22d;
  --link-hover: #00a;
  --missing-link: #d11;
  --missing-link-hover: #a00;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --disabled: lightgrey;

  --animation-speed-fast: 0.1s;
  --animation-speed-slow: 0.2s;

}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --bg-body: #000;
    --bg-body-inverted: #fff;
    --bg-elevated: #1f1f1f;
    --bg-highlight: #333;
    --bg-navbar: rgba(50, 50, 50, 0.75);
    --bg-navbar-solid: rgb(50, 50, 50);
    --bg-transparent: rgba(20, 20, 20, 0.6);
    --text: #f2f2f2;
    --text-muted: #e6e6e6;
    --link-color: #77f;
    --link-hover: #88f;
    --missing-link: #e00;
    --missing-link-hover: #f11;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --disabled: grey;
  }

  .darkmode-invert {
    filter: invert(1);
  }

  /*Auch in JS wechseln! */
}

html {
  font-size: 16px;
  font-weight: 450;
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  font-family:
    Inter,
    -apple-system,
    Helvetica,
    Arial,
    sans-serif;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  word-wrap: break-word;
  background-color: var(--bg-body);
  color: var(--text);
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 100%;
  justify-content: center;
  min-height: 100vh;
  min-height: 100dvh;
}

h1 {
  font-size: clamp(2.7rem, calc(8vw + 1rem), 4rem);
  line-height: 0.9;
  margin: 1.5rem 0;
  letter-spacing: -2px;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  margin-bottom: 0;
}

#introduction {
  font-weight: 600;
  font-size: clamp(1.1rem, calc(0.5vw + 1rem), 1.2rem);
  margin-bottom: 2rem;
  letter-spacing: -0.3px;
}

main {
  margin: 64px min(64px, 10%);
  display: block;
  max-width: min(1050px, 90%);
  /* Margin funktioniert irgendwie nicht */
  justify-self: center;
  width: 100%;
  box-sizing: border-box;
}

sub,
sup {
  line-height: 0;
}

.outlined {
  --line-width: 0.05em;
  --line-width-negative: calc(var(--line-width) * -1);
  --color: var(--text);
  text-shadow: var(--line-width) var(--line-width) 0 var(--color), var(--line-width) var(--line-width-negative) 0 var(--color), var(--line-width-negative) var(--line-width) 0 var(--color), var(--line-width-negative) var(--line-width-negative) 0 var(--color), var(--line-width) 0px 0 var(--color), 0px var(--line-width) 0 var(--color), var(--line-width-negative) 0px 0 var(--color), 0px var(--line-width-negative) 0 var(--color);
  color: rgba(0, 0, 0, 0);
}

/*@media screen and (max-width: 850px) {
  main {
    margin: 64px 32px 32px 32px;
  }
}

@media screen and (max-width: 500px) {
  main {
    margin: 64px 16px 16px;
  }
}*/

noscript {
  color: orange;
  font-size: 0.75rem;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover);
  text-decoration: underline;
}

a[href=""] {
  color: var(--missing-link);
}

a[href=""]:hover {
  color: var(--missing-link-hover);
}

.on-hover-bg-highlight:hover {
  background: var(--bg-highlight);
}

.loading-wheel {
  animation: 1s linear infinite rotate;
}

.icon-error {
  color: red;
}

code {
  font-family:
    "SF Mono", SFMono-Regular, ui-monospace, "JetBrains Mono", monospace;
}

address {
  margin-top: 0;
}

md-text p {
  margin-top: 0.1rem;

  background-color: green;
}

/* --- NAVBAR --- */

#navbar {
  padding: 4px;
  margin: 0;
  list-style-type: none;
  background-color: var(--bg-navbar-solid);
  font-weight: 600;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  border-bottom: 1px solid var(--bg-highlight);
  user-select: none;
  -webkit-user-select: none;
  box-sizing: border-box;
}

@supports (backdrop-filter: blur()) {
  #navbar {
    background-color: var(--bg-navbar);
    backdrop-filter: blur(6px);
  }
}

li[class|="navbar-item"]>* {
  display: flex;
  cursor: pointer;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.3em;
  padding: 0.4rem;
  margin: 0.25rem;
  height: 0.7rem;
  text-decoration: none;
  color: var(--text);
  border-radius: 0.8rem;
  transform-origin: center;
  transition:
    background-color var(--animation-speed-fast) linear,
    transform var(--animation-speed-fast) ease;
}

li[class|="navbar-item"]:hover {
  background-color: var(--bg-highlight);
}

li[class|="navbar-item"]:active {
  transform: scaleY(0.9);
  transform: scaleX(0.99);
}

li.navbar-item-left {
  float: left;
  transition: background-color var(--animation-speed-fast) linear;
  border-radius: 0.8rem;
  margin: 0.3rem;
}

li.navbar-item-right {
  float: right;
  transition: background-color var(--animation-speed-fast) linear;
  border-radius: 0.8rem;
  margin: 0.3rem;
}

.navbar-icon {
  width: 1em;
  height: 1em;
  stroke-width:
    /*0.15625rem*/
    2.5px;
}

li.navbar-active {
  background-color: var(--bg-elevated);
}

@media screen and (max-width: 400px) {
  [class|="navbar-text"] {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .navbar-text-3 {
    display: none;
  }
}

/*Periodensystem*/
#periodensystem {
  display: block;
  margin: 0 auto;
  max-width: min(1000px, 90vw);
  max-height: 100vh;
  width: auto;
  height: auto;
}

/*Expandable*/
.expandable {
  margin: 0;
  background-color: var(--bg-elevated);
  border-radius: 32px;
}

/*@supports (corner-shape: squircle) {
  .expandable {
    corner-shape: squircle;
  }
}*/

.expandable-header>h3 {
  margin: 0;
  width: 100%;
  text-align: left;
  font-family: Inter, sans-serif;
  color: var(--text);
}

.expandable-header {
  background: none;
  border-radius: 2rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.95rem;
  width: 100%;
  height: 5rem;
  transition: background var(--animation-speed-fast) linear;
  user-select: none;
  -webkit-user-select: none;
}

.expandable-header-icon {
  stroke-width: 0.2rem;
  height: 2em;
  width: 2em;
  color: var(--text-muted);
  transition: rotate 0.3s;
}

.expandable-header::after {
  content: "";
  clear: both;
  display: table;
}

.expandable-content {
  height: 0;
  padding: 1.95rem;
  transition: height 0.3s ease;
  box-sizing: border-box;
  margin: 0;
  padding-top: 0;
}

/* --- DATEN --- */

#daten-werte-abschnitt {
  display: grid;
  grid-template-columns: 15rem auto;
  grid-template-rows: 17.5rem auto auto;
  grid-template-areas: "grafik liste" "infotext liste" "zusatz liste";
  grid-gap: 1rem;
  margin-bottom: 20px;
}

/*Grafik*/
#daten-grafik {
  width: 15rem;
  height: 17.5rem;
  min-width: 0;
  display: grid;
  font-size: 1.3rem;
  color: #fff;
  padding: 1rem;
  margin: 0;
  box-sizing: border-box;
  grid-area: grafik;
  border-radius: 1rem;
  grid-template-areas:
    "atommasse ordnungszahl"
    "elementsymbol elementsymbol"
    "elementname elementname"
    "atomradius siedepunkt"
    "ionenradius schmelzpunkt"
    "ionisierungsenergie dichte"
    "elektronegativitaet anteil_haeufigstes_isotop";
}

#daten-grafik-elementsymbol,
#daten-grafik-elementname {
  grid-column: 1 / span 2;
  justify-content: center;
  text-align: center;
}

#daten-grafik-elementsymbol {
  font-size: 3rem;
  font-family: "Inter Tight", Inter, Helvetica, Arial, sans-serif;
}

.daten-grafik-wert {
  align-items: center;
  font-weight: 750;
  transition:
    font-weight 0.3s,
    color 0.3s,
    transform 0.3s;
}

div.daten-on-hover {
  /*Text in der Grafik*/
  font-weight: 900;
  text-shadow: 0.15em 0.15em 0.15em var(--shadow-color);
  color: #aaa;
  transform: scale(1.1);
  transition:
    font-weight 0.3s,
    color 0.3s,
    transform 0.3s;
}

#daten-grafik-oxidationszahl {
  background-color: red;
}

#daten-grafik-ordnungszahl,
#daten-grafik-siedepunkt,
#daten-grafik-schmelzpunkt,
#daten-grafik-dichte,
#daten-grafik-anteil_haeufigstes_isotop {
  justify-content: right;
  text-align: right;
}

/*Andere Bestandteile*/
#daten-infotext {
  padding: 0;
  margin-top: 1rem;
  grid-row: 2 / span 1;
  grid-area: infotext;
}

#daten-infotext>* {
  height: 0.9em;
  stroke-width: 0.15rem;
}

#daten-zusatz {
  grid-area: zusatz;
  margin: 0;
  padding: 0;
  height: auto;
}

/*Liste*/
#daten-liste {
  grid-area: liste;
  margin: 0;
  grid-row: 1 / span 3;
  overflow: visible;
}

#daten-liste tr {
  border-top: 1px solid var(--bg-highlight);
  display: flex;
  align-items: center;
  min-height: 2em;
  position: relative;
  transition: background-color 0.2s;
}

#daten-liste tr:first-child {
  border-top: none;
}

tr.daten-on-hover {
  background-color: var(--bg-highlight);
}

div.daten-info,
span.fachbegriff-info {
  display: none;
  position: absolute;
  background-color: var(--bg-elevated);
  min-width: 0.8rem;
  max-width: 30rem;
  box-shadow: 0.1rem 0.2rem 0.3rem var(--shadow-color);
  left: 2rem;
  bottom: 100%;
  z-index: 1;
  border: 1.5px solid var(--bg-highlight);
  border-radius: 1rem;
  box-sizing: border-box;
  padding: 1rem 1.15rem;
}

/*Popup beim Hovern über die Datenliste*/
tr.daten-liste-elem-on-hover .daten-info

/*,
.fachbegriff:hover .fachbegriff-info*/
  {
  display: block;
  -webkit-animation: fadeIn 0.2s;
  animation: fadeIn 0.2s;
}

#daten-liste tr th {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5em;
  text-align: left;
  font-weight: 500;
  padding: 8px;
  width: 70%;
}

#daten-liste tr td {
  padding: 4px;
  min-width: 150px;
}

.daten-icon {
  width: 1.2em;
  height: 1.2em;
  min-height: 1.2em;
  min-width: 1.2em;
}

#daten-abschnitt::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 850px) {
  #daten-werte-abschnitt {
    font-size: 0.9rem;
    grid-template-columns: 12.5rem auto;
  }

  #daten-grafik {
    width: 12.5rem;
  }

  #daten-liste tr td {
    min-width: 130px;
  }

  .daten-icon {
    width: 1em;
    height: 1em;
    min-height: 1em;
    min-width: 1em;
  }
}

@media screen and (max-width: 700px) {
  #daten-header {
    padding: 1.5rem;
  }

  #daten-werte-abschnitt {
    grid-template-columns: auto;
    grid-template-rows: auto 14.5rem auto auto;
    grid-template-areas: "infotext" "grafik" "liste" "zusatz";
    grid-gap: 1rem;
    padding: 0 1rem 1rem;
  }

  #daten-liste {
    grid-row: 3 / span 1;
  }

  #daten-infotext {
    margin: 0;
  }

  #daten-grafik {
    justify-self: center;
    min-width: 12.5rem;
    max-width: 100%;
    height: 15rem;
    border-radius: 0.8rem;
    font-size: 1.1rem;
  }

  #daten-ionisierungsenergie-wert {
    font-size: 0.8rem;
  }

  #daten-liste tr td {
    min-width: 70px;
    width: 40%;
  }

  #daten-liste tr th {
    width: 60%;
  }
}

/*TEXTE*/
/*div.text {
  margin-top: 3rem;
  color: var(--text-muted);
}*/

h2.text-header {
  line-height: 0.9em;
  margin-top: 1.5em;
  cursor: default;
  margin-collapse: collapse;
}

.text-header-icon {
  height: 0.8em;
  width: 0.8em;
  stroke-width: 0.09em;
  margin-left: 0.5rem;
  color: var(--text-muted);
  opacity: 0;
  transition: opacity var(--animation-speed-fast) linear;
  cursor: pointer;
}

h2.text-header:hover .text-header-icon,
h3.text-subheader:hover .text-header-icon {
  opacity: 1;
}

h3.text-subheader .text-header-icon {
  stroke-width: 0.12em;
}

h3.text-subheader {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h2.text-header+h3.text-subheader {
  margin-top: 0;
}



/*fachbegriff-info oben bei der Daten-Liste*/

.fachbegriff {
  position: relative;
  text-decoration: underline dotted 0.075rem;
}

div.text-chapter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  scroll-margin-top: -50px;
}

div.text-block {
  display: grid;
  grid-template-columns: 3fr 2fr;
  /*Achtung: Bei Änderungen auch sizes von Bildern anpassen!*/
  grid-template-areas: "text media-small";
  gap: 40px;
  max-width: 1000px;
  align-self: center;
  margin-top: 1rem;
}

div.text-block *:first-child {
  margin-top: 0;
}

div.text {
  grid-area: text;
  text-align: justify;
  line-height: 1.6rem;
  color: var(--text-muted);
  /*background-color: gold;*/
}

div.text-only {
  display: flex;
  justify-content: center;
  max-width: max(90%, 500px);
  /* width: 100%; */
}

div.text-media-small,
div.text-media-small>*,
.text-media-wrapper>* {
  max-width: 100%;
  width: 100%;
}

div.text-media-small {
  grid-area: media-small;
}

.text-media-wrapper {
  position: relative;
  cursor: pointer;
}

.text-media-enlarge-icon {
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  stroke-width: 0.15rem;
  height: 1.2rem !important;
  width: 1.2rem !important;
  opacity: 0;
  transition: opacity var(--animation-speed-fast) linear;
  filter: drop-shadow(0px 0px 3px #000);
  padding: 0.5rem;
}

.text-media-wrapper:hover .text-media-enlarge-icon {
  opacity: 1;
}

div.text-media-small>* {
  display: block;
  height: auto;
}

div.text-media-wrapper>img,
div.text-media-wrapper>video  {
  border-radius: 8px;
}

div.text-media-small>.text-media-wrapper {
  margin-top: 20px;
}

div.text-media-small>.text-media-wrapper:first-child {
  margin-top: 0;
}

.text-media-footer {
  color: grey;
  font-size: 0.8rem;
  font-style: italic;
  text-align: center;
  margin-top: 0.5rem;
}

.text-media-footer:hover {
  color: grey;
  text-decoration: underline;
}

div.text-media-large {
  width: 100%;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

div.text-media-large>* {
  max-width: 90%;
  align-self: center;
  width: auto;
  height: auto;
  max-height: 500px;
}

@media screen and (max-width: 700px) {
  div.text-block {
    display: flex;
    flex-direction: column;
  }

  div.text-media-small,
  div.text-media-small>* {
    width: 100%;
    /*background-color: yellow;*/
  }

  div.text-media-small>img,
  div.text-media-small>video {
    margin-top: 0;
  }
}

/* Fullscreen Media */
#fullscreen-media-container {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 60.5px 0 0 0;
  box-sizing: border-box;
  display: none;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;
  background-color: var(--bg-transparent);
  backdrop-filter: blur(0);
  opacity: 0;
  transition:
    backdrop-filter var(--animation-speed-fast) linear,
    opacity var(--animation-speed-fast) linear;
}

#fullscreen-icons {
  z-index: 3;
  position: absolute;
  top: 55.5px;
  right: 5px;
}

#fullscreen-icons svg {
  padding: 3px;
  border-radius: 0.5rem;
  height: 1.5rem;
  width: 1.5rem;
  margin: 2px;
  cursor: pointer;
  transition: all var(--animation-speed-fast) linear;
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.7));
  color: #fff;
}

#fullscreen-icons svg:hover {
  background-color: var(--bg-highlight);
  filter: none;
}

#fullscreen-media-wrapper {
  overflow: auto;
  height: 100%;
  width: 100%;
  justify-content: center;
  display: flex;
}

svg.fullscreen-media-control-icon {
  position: absolute;
  height: 2rem;
  width: 2rem;
  z-index: 3;
  top: calc(50% - 1rem);
  border-radius: 0.8rem;
  padding: 10px;
  transition: background-color var(--animation-speed-fast) linear;
  color: var(--disabled);
}

svg.fullscreen-media-control-icon.enabled {
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.7));
  color: #fff;
  cursor: pointer;
}

svg.fullscreen-media-control-icon.enabled:hover {
  background-color: var(--bg-highlight);
  filter: none;
}

#fullscreen-media-control-icon-back {
  left: 5px;
}

#fullscreen-media-control-icon-next {
  right: 5px;
}

@media (max-width: 600px) {
  svg.fullscreen-media-control-icon {
    padding: 5px;
    border-radius: 0.6rem;
    height: 1.5rem;
    width: 1.5rem;
    top: calc(50% - 0.75rem);
  }
}

#fullscreen-media {
  display: block;
  border-radius: 0;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  object-fit: contain;
}

#fullscreen-media-footer {
  font-size: 0.9rem;
  margin: 10px;
}

#fullscreen-media-footer-license {
  margin-top: 0.5rem;
  text-align: center;
}

#load-resolution {
  color: var(--link-color);
  cursor: pointer;
}

#load-resolution:hover {
  text-decoration: underline;
  color: var(--link-hover);
}


#authors {
  text-align: right;
  color: grey;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 10px;
}


sup.source-note {
  color: var(--link-color);
  /* transition: all var(--animation-speed-fast) linear; */
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

sup.source-note:hover {
  color: var(--link-hover);
}

#quellen-container {
  margin-top: 20px;
}

#quellen {
  list-style: none;
  counter-reset: src-counter;
}

#quellen>*:first-child {
  margin-top: 0;
}

#quellen>*:last-child {
  margin-bottom: 0;
}

li.quelle {
  counter-increment: src-counter;
  transition: text-decoration 0.3s linear;
}

li.quelle::before {
  content: "[" counter(src-counter) "] ";
  color: var(--text-muted);
}

/*Brüche*/
.frac {
  display: inline-block;
  position: static;
  vertical-align: middle;
  letter-spacing: 0.001em;
  text-align: center;
}

.frac>span {
  display: block;
  padding: 0.1em;
  font-size: 0.75em;
}

.frac span.bottom {
  border-top: thin solid var(--text);
}

.frac span.symbol {
  display: none;
}

particle {
  position: fixed;
  left: 0;
  top: 0;
  border-radius: 50%;
  pointer-events: none;
  -webkit-pointer-events: none;
  opacity: 0;
}

footer {
  margin: auto;
  min-width: 100%;
  background-color: var(--bg-elevated);
  display: flex;
  justify-content: center;
}

footer>ul {
  list-style-type: none;
  width: max-content;
  margin: 0;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 64px;
  /*background-color: var(--bg-elevated);*/
  hyphens: auto;
}

footer li {
  cursor: pointer;
  position: relative;
}

footer li:hover {
  text-decoration: underline;
}

footer .dropdown {
  display: none;
  position: absolute;
  background-color: var(--bg-elevated);
  width: 100%;
  box-shadow: 0.1rem 0.2rem 0.3rem var(--shadow-color);
  left: 0;
  bottom: 100%;
  z-index: 1;
  border: 1.5px solid var(--bg-highlight);
  border-radius: 1rem;
  box-sizing: border-box;
  padding: 0.5rem;
  text-align: left;
}

footer li:hover .dropdown {
  display: block;
}

footer .dropdown labeled-icon {
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  color: var(--text);
  transition: background-color var(--animation-speed-fast) linear;
  box-sizing: border-box;
  width: 100%;
}

footer .dropdown labeled-icon:hover {
  background-color: var(--bg-highlight);
}

footer a,
footer a:hover {
  color: var(--text-muted);
}

@media screen and (max-width: 900px) {
  footer>ul {
    /*width: 1;*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media screen and (max-width: 500px) {
  footer>ul {
    /*width: 1;*/
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}




/* --- PERIODENSYSTEM --- */

/* .lanthanoid-actinoid ist ein Item, #lanthanoide-actinoide ist der Container von der kleinsten Ansicht */
#pse-container {
  margin: 60.5px 10px 5px 10px;
  display: grid;
  gap: 0.2em;
  max-width: 2350px;
  align-self: center;
}

@media screen and (min-width: 2350px) {
  #pse-container {
    margin: 60.5px auto 5px auto;
  }
}

.pse-item {
  display: grid;
  grid-template-areas: "masse ordnungszahl"
    "symbol symbol"
    "name name";
  background-color: green;
  border-radius: 0.2em;
  padding: 0.3em;
  box-sizing: border-box;
  min-width: 0;
  /*transition: all var(--animation-speed-slow) ease, filter var(--animation-speed-slow) ease;*/
  transition: outline-color var(--animation-speed-slow) linear, transform var(--animation-speed-slow) linear, filter var(--animation-speed-slow) linear;
  text-decoration: none;
  outline-color: rgba(0, 0, 0, 0);
}



.pse-item:hover {
  transform: scale(1.05);
  filter: drop-shadow(0px 0px 10px var(--shadow-color));
  outline: 2px solid;
  outline-color: var(--bg-body-inverted);
  text-decoration: none;
}

.pse-item.dark-text {
/*  color: #555;*/
	  color: #000;
}

.pse-item.light-text {
/*  color: #aaa;*/
  color: #fff;
}

.pse-item.dark-text.has-content {
  color: #000;
}

.pse-item.light-text.has-content {
  color: #fff;
}

.pse-item-atommasse {
  grid-area: masse;
  text-align: left;
  font-size: 0.7em;
  /*display: none;*/
}

.pse-item-ordnungszahl {
  grid-area: ordnungszahl;
  text-align: right;
  font-size: 0.7em;
}

.pse-item-elementsymbol {
  text-align: center;
  grid-area: symbol;
  font-size: 1.2em;
  font-weight: 700;
  width: 100%;
  position: relative;
}

.pse-item.dark-text>.pse-item-elementsymbol .outlined {
  --color: #000;
  --line-width: clamp(0.03em, 0.13vw, 0.05em);
  color: #555;
}

.pse-item.light-text .pse-item-elementsymbol .outlined {
  --color: #fff;
  --line-width: clamp(0.03em, 0.13vw, 0.05em);
}

.pse-item-elementsymbol>span:first-child {
  display: block;
  text-align: center;
}

.pse-item-radioaktiv {
  position: absolute;
  top: 0;
  right: 0;
  color: red !important;
  transform: translateX(4px);
}

.pse-item-elementname {
  text-align: center;
  grid-area: name;
  font-size: 0.7em;
}

.pse-item-gruppe-nichtmetall {
  background-color: lightblue;
}

@media screen and (min-width: 1700px) {

  /* Volle Breite */
  #pse-container {
    grid-template-areas:
      "h  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  he"
      "li be .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  b  c  n  o  f  ne"
      "na mg .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  al si p  s  cl ar"
      "k  ca .  .  .  .  .  .  .  .  .  .  .  .  .  .  sc ti v  cr mn fe co ni cu zn ga ge as se br kr"
      "rb sr .  .  .  .  .  .  .  .  .  .  .  .  .  .  y  zr nb mo tc ru rh pd ag cd in sn sb te i  xe"
      "cs ba la ce pr nd pm sm eu gd tb dy ho er tm yb lu hf ta w  re os ir pt au hg tl pb bi po at rn"
      "fr ra ac th pa u  np pu am cm bk cf es fm md no lr rf db sg bh hs mt ds rg cn nh fl mc lv ts og";
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(7, 1fr);
  }

  /* Höhe sparen */
  @media screen and (max-height: 1000px) {
    .pse-item-elementname {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  @media screen and (max-height: 800px) {
    .pse-item-elementname {
      display: none;
    }
  }

  @media screen and (max-height: 550px) {

    .pse-item-atommasse,
    .pse-item-ordnungszahl {
      display: none;
    }
  }
}


@media screen and (750px <=width < 1700px) {

  /* Mittlere Breite */
  #pse-container {
    grid-template-areas:
      "h  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  he"
      "li be .  .  .  .  .  .  .  .  .  .  b  c  n  o  f  ne"
      "na mg .  .  .  .  .  .  .  .  .  .  al si p  s  cl ar"
      "k  ca sc ti v  cr mn fe co ni cu zn ga ge as se br kr"
      "rb sr y  zr nb mo tc ru rh pd ag cd in sn sb te i  xe"
      "cs ba lx hf ta w  re os ir pt au hg tl pb bi po at rn"
      "fr ra ax rf db sg bh hs mt ds rg cn nh fl mc lv ts og"
      ".  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  . "
      ".  .  la ce pr nd pm sm eu gd tb dy ho er tm yb lu . "
      ".  .  ac th pa u  np pu am cm bk cf es fm md no lr . ";
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 10px 1fr 1fr;
    margin: 60.5px 10px 5px 10px;
  }

  /* Hinweis auf Lanthanoide ausblenden, weil Lr-Lu zu lange wäre */
  @media screen and (min-width: 1300px) {

    /* pse-item-lanthanoide ist das Item mit La-Lu */
    #pse-item-actinoide,
    #pse-item-lanthanoide {
      display: grid !important;
    }
  }

  @media (width < 900px) {
    .pse-item-atommasse {
      display: none;
    }
  }


  /* Höhe sparen */
  @media screen and (max-height: 1200px) {
    .pse-item-elementname {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  @media screen and (max-height: 900px) {
    #pse-container {
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0fr 0fr 0fr;
      margin: 60.5px 10px 5px 10px;
    }

    .pse-item {
      overflow: hidden;
      min-height: 0;
    }

    .lanthanoid-actinoid {
      display: none !important;
    }
  }

  @media screen and (max-height: 750px) {
    .pse-item-elementname {
      display: none;
    }
  }

  @media screen and (max-height: 650px) {

    .pse-item-ordnungszahl,
    .pse-item-atommasse {
      display: none;
    }
  }
}

/* Kleinste Breite */
@media screen and (width <=750px) {
  #pse-container {
    display: none;
  }

  #pse-container-small {
    display: grid;
    justify-content: center;
    grid-template-areas:
      "hauptgruppen"
      "."
      "nebengruppen"
      "."
      "lanthanoide-actinoide";
    grid-template-rows: 7fr 10px 4fr 10px 4fr;
    margin: 55.5px auto 5px auto;
  }

  #hauptgruppen {
    display: grid;
    gap: 0.2em;
    width: 100%;
    grid-area: hauptgruppen;
    grid-template-areas:
      "h  .  .  .  .  .  .  he"
      "li be b  c  n  o  f  ne"
      "na mg al si p  s  cl ar"
      "k  ca ga ge as se br kr"
      "rb sr in sn sb te i  xe"
      "cs ba tl pb bi po at rn"
      "fr ra nh fl mc lv ts og";
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 1fr);
  }

  #nebengruppen {
    display: grid;
    gap: 0.2em;
    width: 100%;
    grid-area: nebengruppen;
    grid-template-areas:
      "sc ti v  cr mn fe co ni cu zn"
      "y  zr nb mo tc ru rh pd ag cd"
      "lu hf ta w  re os ir pt au hg"
      "lr rf db sg bh hs mt ds rg cn";
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  #lanthanoide-actinoide {
    display: grid;
    gap: 0.2em;
    width: 100%;
    grid-area: lanthanoide-actinoide;
    grid-template-areas:
      "la ce pr nd pm sm eu"
      "gd tb dy ho er tm yb"
      "ac th pa u  np pu am"
      "cm bk cf es fm md no";
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .pse-item-elementsymbol {
    font-size: clamp(0.9em, 4vw, 1.2em);
  }

  .pse-item {
    padding: clamp(0.2em, 1vw, 0.3em);
  }

  .pse-item-elementname {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  /* Höhe */
  @media screen and (max-height: 1300px) {
    #pse-container-small {
      grid-template-areas:
        "hauptgruppen"
        "."
        "nebengruppen";
      grid-template-rows: 7fr 10px 4fr;
    }

    #lanthanoide-actinoide {
      display: none;
    }
  }

  @media screen and (max-height: 1100px) {
    .pse-item-elementname {
      display: none;
    }
  }

  @media screen and (max-height: 950px) {

    .pse-item-ordnungszahl,
    .pse-item-atommasse {
      display: none;
    }
  }

  @media screen and (max-height: 700px) {

    #nebengruppen,
    .nebengruppe,
    #lanthanoide-actinoide,
    .lanthanoid-actinoid {
      display: none;
    }

    #pse-container-small {
      grid-template-areas:
        "hauptgruppen";
      grid-template-rows: 1fr;
      justify-content: center;
      grid-template-columns: 1fr;
    }


  }

  @media screen and (max-width: 550px) {
    .nebengruppe .pse-item-atommasse {
      display: none;
    }
  }

  @media screen and (max-width: 450px) {
    .pse-item-atommasse {
      display: none;
    }

    .nebengruppe .pse-item-elementname {
      display: none;
    }
  }

  @media screen and (max-width: 350px) {
    .pse-item-elementname {
      display: none;
    }
  }

  @media screen and (max-width: 280px) {
    .pse-item-ordnungszahl {
      display: none;
    }
  }
}

@media screen and (max-width: 950px) {
  .pse-item-radioaktiv {
    display: none;
  }
}

/*Animations*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rescale-bounce {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.3);
  }
}

/* inter-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Inter/inter-v20-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-italic - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/Inter/inter-v20-latin-italic.woff2") format("woff2");
}

/* inter-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Inter/inter-v20-latin-500.woff2") format("woff2");
}

/* inter-500italic - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/Inter/inter-v20-latin-500italic.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Inter/inter-v20-latin-600.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-600italic - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/Inter/inter-v20-latin-600italic.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Inter/inter-v20-latin-700.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-700italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/Inter/inter-v20-latin-700italic.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-800 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Inter/inter-v20-latin-800.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-800italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/Inter/inter-v20-latin-800italic.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-900 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Inter/inter-v20-latin-900.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-900italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/Inter/inter-v20-latin-900italic.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.katex-display {
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
}

.katex {
  max-width: 100%;
}

.katex .hide-tail {
  overflow: hidden !important;
}

