body {
	margin: auto;
	font-family: sans-serif;
}

#navbar {
	padding: 4px;
	margin: 0;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	background-color: ghostwhite;
	font-weight: 600;
}

#navbar>span {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 0.3em;
	padding: 12px;
}

.navbar-left {
	float: left;
}

.navbar-right {
	float: right;
}

.navbar-icon {
	width: 1em;
	height: 1em;
	stroke-width: 2.5px;
}

#periodensystem {
	display: flex;
	justify-content: center;
}

#pse-foto {
	max-width: 600px;
}

main, #header-text {
	margin: 20px;
}

.daten-wert,
.daten-name {
	vertical-align: baseline;
	border: 1px solid #ddd;
	border-collapse: collapse;
}

.daten-bild {
	float: left;
}

.daten-tabelle {
	float: right;
}



/*Brüche*/
.frac {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	letter-spacing: 0.001em;
	text-align: center;
}

.frac>span {
	display: block;
	padding: 0.1em;
	font-size: 0.75em;
}

.frac span.bottom {
	border-top: thin solid black;
}

.frac span.symbol {
	display: none;
}