body {
	padding: 8px;
	margin: auto;
	font-family: sans-serif;
	-webkit
}

#navbar > span {
	padding: 0 8px;
}

.navbar-left {
	float: left;
}

.navbar-right {
	float: right;
}

.navbar-icon {
	width: 1em;
	height: 1em;
}

#periodensystem {
	display: flex;
	justify-content: center;
}

#pse-foto {
	max-width: 600px;
}

.daten-atommasse:hover {
	font-weight: 900;
}

.daten-wert, .daten-name {
	vertical-align: baseline;
	border: 1px solid #ddd;
	border-collapse: collapse;
}

.daten-bild {
	float: left;
}

.daten-tabelle {
	float: right;
}






/*Brüche*/
.frac {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center;
}
.frac > span {
    display: block;
    padding: 0.1em;
	 font-size: 0.75em;
}
.frac span.bottom {
    border-top: thin solid black;
}
.frac span.symbol {
    display: none;
} 